
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Promytheus" verbose="1" >
    <parameter name="url" value="http://ec2-52-53-181-39.us-west-1.compute.amazonaws.com"/>
    <parameter name="browser" value="chrome"/>
    <test name="p1 test">
        <groups>
            <run>
                <include name="p1"></include>
            </run>
        </groups>
        <classes>
            <class name="tests.RegisterPageTest"/>
            <class name="tests.LoginPageTest"/>
            <class name="tests.TalentsPageTest"/>
            <class name="tests.CategoryPageTest"/>
            <class name="tests.PersonalPageTest"/>
            <class name="tests.TalentTraitsPageTest"/>
        </classes>
    </test>
    <!--test name = "login">
        <classes>
            <class name="tests.LoginPageTest"/>
        </classes>
    </test>
    <test name = "register" >
        <classes>
            <class name="tests.RegisterPageTest"/>
        </classes>
    </test>
    <test name = "new user">
        <classes>
            <class name="tests.CategoryPageTest"/>
        </classes>
    </test>
    <test name="personal">
        <classes>
            <class name="tests.PersonalPageTest"/>
        </classes>
    </test>
    <test name="talentTraits">
        <classes>
            <class name="tests.TalentTraitsPageTest"/>
        </classes>
    </test>
    <test name="talents">
        <classes>
            <class name="tests.TalentsPageTest"/>
        </classes>
    </test-->
</suite>